<h2>Edit your book</h2>

<form action="/books/<%=@book.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <% if flash.has?(:message) %>
        <%= flash[:message] %> <br><br>
    <% end %>

    <label for="name">Name:</label><br>
    <input type="text" name="name" value="<%= @book.name %>" required><br><br>
    
    <label for="author">Author:</label><br>
    <input type="text" name="author" value="<%= @book.author %>" required><br><br>

    <label for="genre">Genre:</label><br><br>
    <input type="text" name="genre" value="<%= @book.genre %>" required><br><br>

    <input type="submit" id="submit" value="Submit Edits">
</form>